<?php

use Illuminate\Database\Migrations\Migration;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Support\Facades\Schema;

class CreatePerlengkapanTable extends Migration
{
    /**
     * Run the migrations.
     *
     * @return void
     */
    public function up()
    {
        Schema::create('perlengkapan', function (Blueprint $table) {
            $table->id();
            $table->string('nama_kapal_lembar1')->nullable();
            $table->string('pemilik_sesuai_surat')->nullable();
            $table->string('pelabuhan')->nullable();
            $table->string('daerah_pelayaran')->nullable();
            $table->string('pemeriksaan_pertama_lembar1')->nullable();
            $table->string('pemeriksaan_pembaharuan')->nullable();
            $table->string('pemeriksaan_tahunan_lembar1')->nullable();
            $table->string('pemeriksaan_antara')->nullable();
            $table->string('pemeriksaan_tambahan')->nullable();
            $table->string('nomor')->nullable();
            $table->string('format')->nullable();
            $table->string('pelabuhan_pemeriksaan')->nullable();
            $table->string('tgl_pemeriksaan')->nullable();
            $table->string('nama_kapal_lembar2')->nullable();
            $table->string('tanda_panggilan_lembar2')->nullable();
            $table->string('Kebangsaan')->nullable();
            $table->string('berat_kotor')->nullable();
            $table->string('tgl_peletakan_lunas')->nullable();
            $table->string('no_klasifikasi')->nullable();
            $table->string('jenis_kapal')->nullable();
            $table->string('nama_alamat_pemilik_perusahaan')->nullable();
            $table->string('kapalBaru')->nullable();
            $table->string('kapalLama')->nullable();
            $table->string('pemeriksaan_pertama_lembar2')->nullable();
            $table->string('pemeriksaan_tahunan_lembar2')->nullable();
            $table->string('pemeriksaan_pembaharuan_lembar2')->nullable();
            $table->string('pemeriksaan_antara_lembar2')->nullable();
            $table->string('pemeriksaan_tambahan_lembar2')->nullable();
            $table->string('check_kondisi_baik')->nullable();
            $table->string('check_peralatan_tidak_ada')->nullable();
            $table->string('check_peralatan_ada_tapi_tdk_berfungsi')->nullable();
            $table->string('nama_pemeriksa')->nullable();
            $table->string('nip_pemeriksa')->nullable();
            $table->string('no_mi_pemeriksa')->nullable();
            $table->string('ttd_pemeriksa')->nullable();
            $table->string('syarat_sekoci_penolong')->nullable();
            $table->string('dikapal_sekoci_penolong')->nullable();
            $table->string('y_sekoci_penolong')->nullable();
            $table->string('n_sekoci_penolong')->nullable();
            $table->string('na_sekoci_penolong')->nullable();
            $table->string('keterangan_remaks_sekoci_penolong')->nullable();
            $table->string('syarat_rakit_penolong')->nullable();
            $table->string('dikapal_rakit_penolong')->nullable();
            $table->string('jenis_rakit_penolong')->nullable();
            $table->string('y_rakit_penolong')->nullable();
            $table->string('n_rakit_penolong')->nullable();
            $table->string('na_rakit_penolong')->nullable();
            $table->string('keterangan_remaks_rakit_penolong')->nullable();
            $table->string('syarat_sekoci_penyelamat')->nullable();
            $table->string('dikapal_sekoci_penyelamat')->nullable();
            $table->string('jenis_sekoci_penyelamat')->nullable();
            $table->string('y_sekoci_penyelamat')->nullable();
            $table->string('n_sekoci_penyelamat')->nullable();
            $table->string('na_sekoci_penyelamat')->nullable();
            $table->string('keterangan_remaks_sekoci_penyelamat')->nullable();
            $table->string('syarat_pelampung_penolong')->nullable();
            $table->string('dikapal_pelampung_penolong')->nullable();
            $table->string('jenis_pelampung_penolong')->nullable();
            $table->string('y_pelampung_penolong')->nullable();
            $table->string('n_pelampung_penolong')->nullable();
            $table->string('na_pelampung_penolong')->nullable();
            $table->string('keterangan_remaks_pelampung_penolong')->nullable();
            $table->string('syarat_jaket_penolong')->nullable();
            $table->string('dikapal_jaket_penolong')->nullable();
            $table->string('jenis_jaket_penolong')->nullable();
            $table->string('y_jaket_penolong')->nullable();
            $table->string('n_jaket_penolong')->nullable();
            $table->string('na_jaket_penolong')->nullable();
            $table->string('keterangan_remaks_jaket_penolong')->nullable();
            $table->string('syarat_baju_cebur')->nullable();
            $table->string('dikapal_baju_cebur')->nullable();
            $table->string('jenis_baju_cebur')->nullable();
            $table->string('y_baju_cebur')->nullable();
            $table->string('n_baju_cebur')->nullable();
            $table->string('na_baju_cebur')->nullable();
            $table->string('keterangan_remaks_baju_cebur')->nullable();
            $table->string('syarat_alat_pelontar_tali')->nullable();
            $table->string('dikapal_alat_pelontar_tali')->nullable();
            $table->string('jenis_alat_pelontar_tali')->nullable();
            $table->string('y_alat_pelontar_tali')->nullable();
            $table->string('na_alat_pelontar_tali')->nullable();
            $table->string('keterangan_remaks_alat_pelontar_tali')->nullable();
            $table->string('syarat_isyarat_marabahaya')->nullable();
            $table->string('dikapal_isyarat_marabahaya')->nullable();
            $table->string('jenis_isyarat_marabahaya')->nullable();
            $table->string('y_isyarat_marabahaya')->nullable();
            $table->string('n_isyarat_marabahaya')->nullable();
            $table->string('na_isyarat_marabahaya')->nullable();
            $table->string('keterangan_remaks_isyarat_marabahaya')->nullable();
            $table->string('syarat_transponder_radar')->nullable();
            $table->string('dikapal_transponder_radar')->nullable();
            $table->string('jenis_transponder_radar')->nullable();
            $table->string('y_transponder_radar')->nullable();
            $table->string('n_transponder_radar')->nullable();
            $table->string('na_transponder_radar')->nullable();
            $table->string('keterangan_remaks_transponder_radar')->nullable();
            $table->string('syarat_perangkat_telepon_radio_vhf_2_arah')->nullable();
            $table->string('dikapal_perangkat_telepon_radio_vhf_2_arah')->nullable();
            $table->string('jenis_perangkat_telepon_radio_vhf_2_arah')->nullable();
            $table->string('y_perangkat_telepon_radio_vhf_2_arah')->nullable();
            $table->string('n_perangkat_telepon_radio_vhf_2_arah')->nullable();
            $table->string('na_perangkat_telepon_radio_vhf_2_arah')->nullable();
            $table->string('keterangan_remaks_perangkat_telepon_radio_vhf_2_arah')->nullable();
            $table->string('jml_total_pelayar')->nullable();
            $table->string('data_yang_tidak_sesuai_form1')->nullable();
            $table->string('syarat_pedoman_magnit_standar')->nullable();
            $table->string('dikapal_pedoman_magnit_standar')->nullable();
            $table->string('tipe_pedoman_magnit_standar')->nullable();
            $table->string('y_pedoman_magnit_standar')->nullable();
            $table->string('n_pedoman_magnit_standar')->nullable();
            $table->string('na_pedoman_magnit_standar')->nullable();
            $table->string('keterangan_remaks_pedoman_magnit_standar')->nullable();
            $table->string('syarat_pedoman_magnit_cadangan')->nullable();
            $table->string('dikapal_pedoman_magnit_cadangan')->nullable();
            $table->string('y_pedoman_magnit_cadangan')->nullable();
            $table->string('n_pedoman_magnit_cadangan')->nullable();
            $table->string('na_pedoman_magnit_cadangan')->nullable();
            $table->string('keterangan_remaks_pedoman_magnit_cadangan')->nullable();
            $table->string('syarat_pedoman_gasing')->nullable();
            $table->string('dikapal_pedoman_gasing')->nullable();
            $table->string('tipe_pedoman_gasing')->nullable();
            $table->string('y_pedoman_gasing')->nullable();
            $table->string('n_pedoman_gasing')->nullable();
            $table->string('na_pedoman_gasing')->nullable();
            $table->string('keterangan_remaks_pedoman_gasing')->nullable();
            $table->string('syarat_repeater_baringan_pedoman_gasing')->nullable();
            $table->string('dikapal_repeater_baringan_pedoman_gasing')->nullable();
            $table->string('tipe_repeater_baringan_pedoman_gasing')->nullable();
            $table->string('y_repeater_baringan_pedoman_gasing')->nullable();
            $table->string('n_repeater_baringan_pedoman_gasing')->nullable();
            $table->string('na_repeater_baringan_pedoman_gasing')->nullable();
            $table->string('keterangan_remaks_repeater_baringan_pedoman_gasing')->nullable();
            $table->string('syarat_pelorus')->nullable();
            $table->string('dikapal_pelorus')->nullable();
            $table->string('tipe_pelorus')->nullable();
            $table->string('y_pelorus')->nullable();
            $table->string('n_pelorus')->nullable();
            $table->string('na_pelorus')->nullable();
            $table->string('keterangan_remaks_pelorus')->nullable();
            $table->string('syarat_alat_koreksi_garis_haluan_dan_baringan')->nullable();
            $table->string('dikapal_alat_koreksi_garis_haluan_dan_baringan')->nullable();
            $table->string('tipe_alat_koreksi_garis_haluan_dan_baringan')->nullable();
            $table->string('y_alat_koreksi_garis_haluan_dan_baringan')->nullable();
            $table->string('n_alat_koreksi_garis_haluan_dan_baringan')->nullable();
            $table->string('na_alat_koreksi_garis_haluan_dan_baringan')->nullable();
            $table->string('keterangan_remaks_alat_koreksi_garis_haluan_dan_baringan')->nullable();
            $table->string('syarat_alat_pancar_penuntun_haluan')->nullable();
            $table->string('dikapal_alat_pancar_penuntun_haluan')->nullable();
            $table->string('tipe_alat_pancar_penuntun_haluan')->nullable();
            $table->string('y_alat_pancar_penuntun_haluan')->nullable();
            $table->string('n_alat_pancar_penuntun_haluan')->nullable();
            $table->string('na_alat_pancar_penuntun_haluan')->nullable();
            $table->string('keterangan_remaks_alat_pancar_penuntun_haluan')->nullable();
            $table->string('syarat_sistem_kendali_haluan')->nullable();
            $table->string('dikapal_sistem_kendali_haluan')->nullable();
            $table->string('tipe_sistem_kendali_haluan')->nullable();
            $table->string('y_sistem_kendali_haluan')->nullable();
            $table->string('n_sistem_kendali_haluan')->nullable();
            $table->string('na_sistem_kendali_haluan')->nullable();
            $table->string('keterangan_remaks_sistem_kendali_haluan')->nullable();
            $table->string('syarat_peta_laut_ecdis')->nullable();
            $table->string('dikapal_peta_laut_ecdis')->nullable();
            $table->string('tipe_peta_laut_ecdis')->nullable();
            $table->string('y_peta_laut_ecdis')->nullable();
            $table->string('n_peta_laut_ecdis')->nullable();
            $table->string('na_peta_laut_ecdis')->nullable();
            $table->string('keterangan_remaks_peta_laut_ecdis')->nullable();
            $table->string('syarat_publikasi_nautika')->nullable();
            $table->string('dikapal_publikasi_nautika')->nullable();
            $table->string('tipe_publikasi_nautika')->nullable();
            $table->string('y_publikasi_nautika')->nullable();
            $table->string('n_publikasi_nautika')->nullable();
            $table->string('na_publikasi_nautika')->nullable();
            $table->string('keterangan_remaks_publikasi_nautika')->nullable();
            $table->string('syarat_alat_penerima_sistem_gps')->nullable();
            $table->string('dikapal_alat_penerima_sistem_gps')->nullable();
            $table->string('tipe_alat_penerima_sistem_gps')->nullable();
            $table->string('y_alat_penerima_sistem_gps')->nullable();
            $table->string('n_alat_penerima_sistem_gps')->nullable();
            $table->string('na_alat_penerima_sistem_gps')->nullable();
            $table->string('keterangan_remaks_alat_penerima_sistem_gps')->nullable();
            $table->string('syarat_radar')->nullable();
            $table->string('dikapal_radar')->nullable();
            $table->string('tipe_radar')->nullable();
            $table->string('y_radar')->nullable();
            $table->string('n_radar')->nullable();
            $table->string('na_radar')->nullable();
            $table->string('keterangan_remaks_radar')->nullable();
            $table->string('syarat_alat_bantu_plotting_radar_otomatis')->nullable();
            $table->string('dikapal_alat_bantu_plotting_radar_otomatis')->nullable();
            $table->string('tipe_alat_bantu_plotting_radar_otomatis')->nullable();
            $table->string('y_alat_bantu_plotting_radar_otomatis')->nullable();
            $table->string('n_alat_bantu_plotting_radar_otomatis')->nullable();
            $table->string('na_alat_bantu_plotting_radar_otomatis')->nullable();
            $table->string('keterangan_remaks_alat_bantu_plotting_radar_otomatis')->nullable();
            $table->string('syarat_automatic_tracking_aid')->nullable();
            $table->string('dikapal_automatic_tracking_aid')->nullable();
            $table->string('tipe_automatic_tracking_aid')->nullable();
            $table->string('y_automatic_tracking_aid')->nullable();
            $table->string('n_automatic_tracking_aid')->nullable();
            $table->string('na_automatic_tracking_aid')->nullable();
            $table->string('keterangan_remaks_automatic_tracking_aid')->nullable();
            $table->string('syarat_electronic_plotting_aid')->nullable();
            $table->string('dikapal_electronic_plotting_aid')->nullable();
            $table->string('tipe_electronic_plotting_aid')->nullable();
            $table->string('y_electronic_plotting_aid')->nullable();
            $table->string('n_electronic_plotting_aid')->nullable();
            $table->string('na_electronic_plotting_aid')->nullable();
            $table->string('keterangan_remaks_electronic_plotting_aid')->nullable();
            $table->string('syarat_sistem_identifikasi_otomatis')->nullable();
            $table->string('dikapal_sistem_identifikasi_otomatis')->nullable();
            $table->string('tipe_sistem_identifikasi_otomatis')->nullable();
            $table->string('y_sistem_identifikasi_otomatis')->nullable();
            $table->string('n_sistem_identifikasi_otomatis')->nullable();
            $table->string('na_sistem_identifikasi_otomatis')->nullable();
            $table->string('keterangan_remaks_sistem_identifikasi_otomatis')->nullable();
            $table->string('syarat_perekam_data_pelayaran')->nullable();
            $table->string('dikapal_perekam_data_pelayaran')->nullable();
            $table->string('tipe_perekam_data_pelayaran')->nullable();
            $table->string('y_perekam_data_pelayaran')->nullable();
            $table->string('n_perekam_data_pelayaran')->nullable();
            $table->string('na_perekam_data_pelayaran')->nullable();
            $table->string('keterangan_remaks_perekam_data_pelayaran')->nullable();
            $table->string('syarat_alat_ukur_kecepatan')->nullable();
            $table->string('dikapal_alat_ukur_kecepatan')->nullable();
            $table->string('tipe_alat_ukur_kecepatan')->nullable();
            $table->string('y_alat_ukur_kecepatan')->nullable();
            $table->string('n_alat_ukur_kecepatan')->nullable();
            $table->string('na_alat_ukur_kecepatan')->nullable();
            $table->string('keterangan_remaks_alat_ukur_kecepatan')->nullable();
            $table->string('syarat_petunjuk_daun_kemudi')->nullable();
            $table->string('dikapal_petunjuk_daun_kemudi')->nullable();
            $table->string('tipe_petunjuk_daun_kemudi')->nullable();
            $table->string('y_petunjuk_daun_kemudi')->nullable();
            $table->string('n_petunjuk_daun_kemudi')->nullable();
            $table->string('na_petunjuk_daun_kemudi')->nullable();
            $table->string('keterangan_remaks_petunjuk_daun_kemudi')->nullable();
            $table->string('syarat_corong_pemberitahuan')->nullable();
            $table->string('dikapal_corong_pemberitahuan')->nullable();
            $table->string('tipe_corong_pemberitahuan')->nullable();
            $table->string('y_corong_pemberitahuan')->nullable();
            $table->string('n_corong_pemberitahuan')->nullable();
            $table->string('na_corong_pemberitahuan')->nullable();
            $table->string('keterangan_remaks_corong_pemberitahuan')->nullable();
            $table->string('syarat_telp_ke_tempat_pengemudian_darurat')->nullable();
            $table->string('dikapal_telp_ke_tempat_pengemudian_darurat')->nullable();
            $table->string('tipe_telp_ke_tempat_pengemudian_darurat')->nullable();
            $table->string('y_telp_ke_tempat_pengemudian_darurat')->nullable();
            $table->string('n_telp_ke_tempat_pengemudian_darurat')->nullable();
            $table->string('na_telp_ke_tempat_pengemudian_darurat')->nullable();
            $table->string('keterangan_remaks_telp_ke_tempat_pengemudian_darurat')->nullable();
            $table->string('syarat_lampu_isyarat_siang')->nullable();
            $table->string('dikapal_lampu_isyarat_siang')->nullable();
            $table->string('tipe_lampu_isyarat_siang')->nullable();
            $table->string('y_lampu_isyarat_siang')->nullable();
            $table->string('n_lampu_isyarat_siang')->nullable();
            $table->string('na_lampu_isyarat_siang')->nullable();
            $table->string('keterangan_remaks_lampu_isyarat_siang')->nullable();
            $table->string('syarat_reflektor_radar')->nullable();
            $table->string('dikapal_reflektor_radar')->nullable();
            $table->string('tipe_reflektor_radar')->nullable();
            $table->string('y_reflektor_radar')->nullable();
            $table->string('n_reflektor_radar')->nullable();
            $table->string('na_reflektor_radar')->nullable();
            $table->string('keterangan_remaks_reflektor_radar')->nullable();
            $table->string('syarat_kode_isyarat_internasional')->nullable();
            $table->string('dikapal_kode_isyarat_internasional')->nullable();
            $table->string('tipe_kode_isyarat_internasional')->nullable();
            $table->string('y_kode_isyarat_internasional')->nullable();
            $table->string('n_kode_isyarat_internasional')->nullable();
            $table->string('na_kode_isyarat_internasional')->nullable();
            $table->string('keterangan_remaks_kode_isyarat_internasional')->nullable();
            $table->string('syarat_buku_iamsar')->nullable();
            $table->string('dikapal_buku_iamsar')->nullable();
            $table->string('tipe_buku_iamsar')->nullable();
            $table->string('y_buku_iamsar')->nullable();
            $table->string('n_buku_iamsar')->nullable();
            $table->string('na_buku_iamsar')->nullable();
            $table->string('keterangan_remaks_buku_iamsar')->nullable();
            $table->string('data_yang_tidak_sesuai_form2')->nullable();
            $table->string('syarat_alat_umum_komunikasi')->nullable();
            $table->string('dikapal_alat_umum_komunikasi')->nullable();
            $table->string('pemeriksaan_terakhir_alat_umum_komunikasi')->nullable();
            $table->string('y_alat_umum_komunikasi')->nullable();
            $table->string('n_alat_umum_komunikasi')->nullable();
            $table->string('na_alat_umum_komunikasi')->nullable();
            $table->string('keterangan_remaks_alat_umum_komunikasi')->nullable();
            $table->string('syarat_pompa_utama_damkar')->nullable();
            $table->string('dikapal_pompa_utama_damkar')->nullable();
            $table->string('pemeriksaan_terakhir_pompa_utama_damkar')->nullable();
            $table->string('y_pompa_utama_damkar')->nullable();
            $table->string('n_pompa_utama_damkar')->nullable();
            $table->string('na_pompa_utama_damkar')->nullable();
            $table->string('keterangan_remaks_pompa_utama_damkar')->nullable();
            $table->string('syarat_pompa_damkar_darurat')->nullable();
            $table->string('dikapal_pompa_damkar_darurat')->nullable();
            $table->string('pemeriksaan_terakhir_pompa_damkar_darurat')->nullable();
            $table->string('y_pompa_damkar_darurat')->nullable();
            $table->string('n_pompa_damkar_darurat')->nullable();
            $table->string('na_pompa_damkar_darurat')->nullable();
            $table->string('keterangan_remaks_pompa_damkar_darurat')->nullable();
            $table->string('syarat_hidran_selang_nozzle_damkar')->nullable();
            $table->string('dikapal_hidran_selang_nozzle_damkar')->nullable();
            $table->string('pemeriksaan_terakhir_hidran_selang_nozzle_damkar')->nullable();
            $table->string('y_hidran_selang_nozzle_damkar')->nullable();
            $table->string('n_hidran_selang_nozzle_damkar')->nullable();
            $table->string('na_hidran_selang_nozzle_damkar')->nullable();
            $table->string('keterangan_remaks_hidran_selang_nozzle_damkar')->nullable();
            $table->string('syarat_hidran_druang_ketel_dan_permesinan')->nullable();
            $table->string('dikapal_hidran_druang_ketel_dan_permesinan')->nullable();
            $table->string('pemeriksaan_terakhir_hidran_druang_ketel_dan_permesinan')->nullable();
            $table->string('y_hidran_druang_ketel_dan_permesinan')->nullable();
            $table->string('n_hidran_druang_ketel_dan_permesinan')->nullable();
            $table->string('na_hidran_druang_ketel_dan_permesinan')->nullable();
            $table->string('keterangan_remaks_hidran_druang_ketel_dan_permesinan')->nullable();
            $table->string('syarat_sistem_pemercik_air')->nullable();
            $table->string('dikapal_sistem_pemercik_air')->nullable();
            $table->string('pemeriksaan_terakhir_sistem_pemercik_air')->nullable();
            $table->string('y_sistem_pemercik_air')->nullable();
            $table->string('n_sistem_pemercik_air')->nullable();
            $table->string('na_sistem_pemercik_air')->nullable();
            $table->string('keterangan_remaks_sistem_pemercik_air')->nullable();
            $table->string('syarat_alat_pendeteksi_kebakaran')->nullable();
            $table->string('dikapal_alat_pendeteksi_kebakaran')->nullable();
            $table->string('pemeriksaan_terakhir_alat_pendeteksi_kebakaran')->nullable();
            $table->string('y_alat_pendeteksi_kebakaran')->nullable();
            $table->string('n_alat_pendeteksi_kebakaran')->nullable();
            $table->string('na_alat_pendeteksi_kebakaran')->nullable();
            $table->string('keterangan_remaks_alat_pendeteksi_kebakaran')->nullable();
            $table->string('syarat_sistem_alarm_kebakaran')->nullable();
            $table->string('dikapal_sistem_alarm_kebakaran')->nullable();
            $table->string('pemeriksaan_terakhir_sistem_alarm_kebakaran')->nullable();
            $table->string('y_sistem_alarm_kebakaran')->nullable();
            $table->string('n_sistem_alarm_kebakaran')->nullable();
            $table->string('na_sistem_alarm_kebakaran')->nullable();
            $table->string('keterangan_remaks_sistem_alarm_kebakaran')->nullable();
            $table->string('syarat_instalasi_damkar_dipermesinan')->nullable();
            $table->string('dikapal_instalasi_damkar_dipermesinan')->nullable();
            $table->string('pemeriksaan_terakhir_instalasi_damkar_dipermesinan')->nullable();
            $table->string('y_instalasi_damkar_dipermesinan')->nullable();
            $table->string('n_instalasi_damkar_dipermesinan')->nullable();
            $table->string('na_instalasi_damkar_dipermesinan')->nullable();
            $table->string('keterangan_remaks_instalasi_damkar_dipermesinan')->nullable();
            $table->string('syarat_perangkat_pemadam_busa_bukan_jinjing')->nullable();
            $table->string('dikapal_perangkat_pemadam_busa_bukan_jinjing')->nullable();
            $table->string('pemeriksaan_terakhir_perangkat_pemadam_busa_bukan_jinjing')->nullable();
            $table->string('y_perangkat_pemadam_busa_bukan_jinjing')->nullable();
            $table->string('n_perangkat_pemadam_busa_bukan_jinjing')->nullable();
            $table->string('na_perangkat_pemadam_busa_bukan_jinjing')->nullable();
            $table->string('keterangan_remaks_perangkat_pemadam_busa_bukan_jinjing')->nullable();
            $table->string('syarat_perlengkapan_damkar_jinjing')->nullable();
            $table->string('dikapal_perlengkapan_damkar_jinjing')->nullable();
            $table->string('pemeriksaan_terakhir_perlengkapan_damkar_jinjing')->nullable();
            $table->string('y_perlengkapan_damkar_jinjing')->nullable();
            $table->string('n_perlengkapan_damkar_jinjing')->nullable();
            $table->string('na_perlengkapan_damkar_jinjing')->nullable();
            $table->string('keterangan_remaks_perlengkapan_damkar_jinjing')->nullable();
            $table->string('syarat_pasir_atau_bahan_lain_pemadam')->nullable();
            $table->string('dikapal_pasir_atau_bahan_lain_pemadam')->nullable();
            $table->string('pemeriksaan_terakhir_pasir_atau_bahan_lain_pemadam')->nullable();
            $table->string('y_pasir_atau_bahan_lain_pemadam')->nullable();
            $table->string('n_pasir_atau_bahan_lain_pemadam')->nullable();
            $table->string('na_pasir_atau_bahan_lain_pemadam')->nullable();
            $table->string('keterangan_remaks_pasir_atau_bahan_lain_pemadam')->nullable();
            $table->string('syarat_selimut_damkar')->nullable();
            $table->string('dikapal_selimut_damkar')->nullable();
            $table->string('pemeriksaan_terakhir_selimut_damkar')->nullable();
            $table->string('y_selimut_damkar')->nullable();
            $table->string('n_selimut_damkar')->nullable();
            $table->string('na_selimut_damkar')->nullable();
            $table->string('keterangan_remaks_selimut_damkar')->nullable();
            $table->string('syarat_perlengkapan_petugas_pemadam')->nullable();
            $table->string('dikapal_perlengkapan_petugas_pemadam')->nullable();
            $table->string('pemeriksaan_terakhir_perlengkapan_petugas_pemadam')->nullable();
            $table->string('y_perlengkapan_petugas_pemadam')->nullable();
            $table->string('n_perlengkapan_petugas_pemadam')->nullable();
            $table->string('na_perlengkapan_petugas_pemadam')->nullable();
            $table->string('keterangan_remaks_perlengkapan_petugas_pemadam')->nullable();
            $table->string('syarat_sambungan_darat_internasional')->nullable();
            $table->string('dikapal_sambungan_darat_internasional')->nullable();
            $table->string('pemeriksaan_terakhir_sambungan_darat_internasional')->nullable();
            $table->string('y_sambungan_darat_internasional')->nullable();
            $table->string('n_sambungan_darat_internasional')->nullable();
            $table->string('na_sambungan_darat_internasional')->nullable();
            $table->string('keterangan_remaks_sambungan_darat_internasional')->nullable();
            $table->string('syarat_emergency_escape_breathung_device')->nullable();
            $table->string('dikapal_emergency_escape_breathung_device')->nullable();
            $table->string('pemeriksaan_terakhir_emergency_escape_breathung_device')->nullable();
            $table->string('y_emergency_escape_breathung_device')->nullable();
            $table->string('n_emergency_escape_breathung_device')->nullable();
            $table->string('na_emergency_escape_breathung_device')->nullable();
            $table->string('keterangan_remaks_emergency_escape_breathung_device')->nullable();
            $table->string('syarat_escape_route')->nullable();
            $table->string('dikapal_escape_route')->nullable();
            $table->string('pemeriksaan_terakhir_escape_route')->nullable();
            $table->string('y_escape_route')->nullable();
            $table->string('n_escape_route')->nullable();
            $table->string('na_escape_route')->nullable();
            $table->string('keterangan_remaks_escape_route')->nullable();
            $table->string('syarat_fire_control_plan')->nullable();
            $table->string('dikapal_fire_control_plan')->nullable();
            $table->string('pemeriksaan_terakhir_fire_control_plan')->nullable();
            $table->string('y_fire_control_plan')->nullable();
            $table->string('n_fire_control_plan')->nullable();
            $table->string('na_fire_control_plan')->nullable();
            $table->string('keterangan_remaks_fire_control_plan')->nullable();
            $table->string('data_yang_tidak_sesuai_form3')->nullable();
            $table->string('y_pondasi_tangki_pipa')->nullable();
            $table->string('n_pondasi_tangki_pipa')->nullable();
            $table->string('na_pondasi_tangki_pipa')->nullable();
            $table->string('keterangan_remaks_pondasi_tangki_pipa')->nullable();
            $table->string('y_sistem_pipa_balas')->nullable();
            $table->string('n_sistem_pipa_balas')->nullable();
            $table->string('na_sistem_pipa_balas')->nullable();
            $table->string('keterangan_remaks_sistem_pipa_balas')->nullable();
            $table->string('y_sistem_pipa_minyak_bahan_bakar')->nullable();
            $table->string('n_sistem_pipa_minyak_bahan_bakar')->nullable();
            $table->string('na_sistem_pipa_minyak_bahan_bakar')->nullable();
            $table->string('keterangan_remaks_sistem_pipa_minyak_bahan_bakar')->nullable();
            $table->string('y_sistem_minyak_muatan')->nullable();
            $table->string('n_sistem_minyak_muatan')->nullable();
            $table->string('na_sistem_minyak_muatan')->nullable();
            $table->string('keterangan_remaks_sistem_minyak_muatan')->nullable();
            $table->string('y_sistem_minyak_pelumas')->nullable();
            $table->string('n_sistem_minyak_pelumas')->nullable();
            $table->string('na_sistem_minyak_pelumas')->nullable();
            $table->string('keterangan_remaks_sistem_minyak_pelumas')->nullable();
            $table->string('y_tangki_penampung_minyak_kotor')->nullable();
            $table->string('n_tangki_penampung_minyak_kotor')->nullable();
            $table->string('na_tangki_penampung_minyak_kotor')->nullable();
            $table->string('keterangan_remaks_tangki_penampung_minyak_kotor')->nullable();
            $table->string('y_standar_flens_sambungan_pembuangan')->nullable();
            $table->string('n_standar_flens_sambungan_pembuangan')->nullable();
            $table->string('na_standar_flens_sambungan_pembuangan')->nullable();
            $table->string('keterangan_remaks_standar_flens_sambungan_pembuangan')->nullable();
            $table->string('y_peralatan_pemisah_air_berminyak')->nullable();
            $table->string('n_peralatan_pemisah_air_berminyak')->nullable();
            $table->string('na_peralatan_pemisah_air_berminyak')->nullable();
            $table->string('keterangan_remaks_peralatan_pemisah_air_berminyak')->nullable();
            $table->string('y_buku_catatan_minyak_ruang_permesinan')->nullable();
            $table->string('n_buku_catatan_minyak_ruang_permesinan')->nullable();
            $table->string('na_buku_catatan_minyak_ruang_permesinan')->nullable();
            $table->string('keterangan_remaks_buku_catatan_minyak_ruang_permesinan')->nullable();
            $table->string('y_buku_catatan_minyak_ruang_muatan')->nullable();
            $table->string('n_buku_catatan_minyak_ruang_muatan')->nullable();
            $table->string('na_buku_catatan_minyak_ruang_muatan')->nullable();
            $table->string('keterangan_remaks_buku_catatan_minyak_ruang_muatan')->nullable();
            $table->string('y_bahan_kimia_pengurai')->nullable();
            $table->string('n_bahan_kimia_pengurai')->nullable();
            $table->string('na_bahan_kimia_pengurai')->nullable();
            $table->string('keterangan_remaks_bahan_kimia_pengurai')->nullable();
            $table->string('y_oil_boom')->nullable();
            $table->string('n_oil_boom')->nullable();
            $table->string('na_oil_boom')->nullable();
            $table->string('keterangan_remaks_oil_boom')->nullable();
            $table->string('y_alat_pengolah_kotoran')->nullable();
            $table->string('n_alat_pengolah_kotoran')->nullable();
            $table->string('na_alat_pengolah_kotoran')->nullable();
            $table->string('keterangan_remaks_alat_pengolah_kotoran')->nullable();
            $table->string('y_alat_penghancur_kotoran')->nullable();
            $table->string('n_alat_penghancur_kotoran')->nullable();
            $table->string('na_alat_penghancur_kotoran')->nullable();
            $table->string('keterangan_remaks_alat_penghancur_kotoran')->nullable();
            $table->string('y_tangki_penampung_kotoran')->nullable();
            $table->string('n_tangki_penampung_kotoran')->nullable();
            $table->string('na_tangki_penampung_kotoran')->nullable();
            $table->string('keterangan_remaks_tangki_penampung_kotoran')->nullable();
            $table->string('y_bak_penampung_sampah')->nullable();
            $table->string('n_bak_penampung_sampah')->nullable();
            $table->string('na_bak_penampung_sampah')->nullable();
            $table->string('keterangan_remaks_bak_penampung_sampah')->nullable();
            $table->string('y_buku_catatan_sampah')->nullable();
            $table->string('n_buku_catatan_sampah')->nullable();
            $table->string('na_buku_catatan_sampah')->nullable();
            $table->string('keterangan_remaks_buku_catatan_sampah')->nullable();
            $table->string('y_tanda_terima_pembuangan_sampah')->nullable();
            $table->string('n_tanda_terima_pembuangan_sampah')->nullable();
            $table->string('na_tanda_terima_pembuangan_sampah')->nullable();
            $table->string('keterangan_remaks_tanda_terima_pembuangan_sampah')->nullable();
            $table->string('y_penyaring_gas_buang')->nullable();
            $table->string('n_penyaring_gas_buang')->nullable();
            $table->string('na_penyaring_gas_buang')->nullable();
            $table->string('keterangan_remaks_penyaring_gas_buang')->nullable();
            $table->string('data_yang_tidak_sesuai_form4')->nullable();
            $table->string('y_tabung_o2_dengan_selang_dan_masker')->nullable();
            $table->string('n_tabung_o2_dengan_selang_dan_masker')->nullable();
            $table->string('na_tabung_o2_dengan_selang_dan_masker')->nullable();
            $table->string('keterangan_remaks_tabung_o2_dengan_selang_dan_masker')->nullable();
            $table->string('y_tensimeter_dengan_air_raksa_atau_digital')->nullable();
            $table->string('n_tensimeter_dengan_air_raksa_atau_digital')->nullable();
            $table->string('na_tensimeter_dengan_air_raksa_atau_digital')->nullable();
            $table->string('keterangan_remaks_tensimeter_dengan_air_raksa_atau_digital')->nullable();
            $table->string('y_Stetoscope')->nullable();
            $table->string('n_Stetoscope')->nullable();
            $table->string('na_Stetoscope')->nullable();
            $table->string('keterangan_remaks_Stetoscope')->nullable();
            $table->string('y_alat_bantu_nafas_manual')->nullable();
            $table->string('n_alat_bantu_nafas_manual')->nullable();
            $table->string('na_alat_bantu_nafas_manual')->nullable();
            $table->string('keterangan_remaks_alat_bantu_nafas_manual')->nullable();
            $table->string('y_alat_sterilisator_rebus')->nullable();
            $table->string('n_alat_sterilisator_rebus')->nullable();
            $table->string('na_alat_sterilisator_rebus')->nullable();
            $table->string('keterangan_remaks_alat_sterilisator_rebus')->nullable();
            $table->string('y_kantong_kompres_panas_dingin')->nullable();
            $table->string('n_kantong_kompres_panas_dingin')->nullable();
            $table->string('na_kantong_kompres_panas_dingin')->nullable();
            $table->string('keterangan_remaks_kantong_kompres_panas_dingin')->nullable();
            $table->string('y_bidai_untuk_patah_tulang_kaki_tangan')->nullable();
            $table->string('n_bidai_untuk_patah_tulang_kaki_tangan')->nullable();
            $table->string('na_bidai_untuk_patah_tulang_kaki_tangan')->nullable();
            $table->string('keterangan_remaks_bidai_untuk_patah_tulang_kaki_tangan')->nullable();
            $table->string('y_Kulkas')->nullable();
            $table->string('n_Kulkas')->nullable();
            $table->string('na_Kulkas')->nullable();
            $table->string('keterangan_remaks_Kulkas')->nullable();
            $table->string('y_brankas_dorong')->nullable();
            $table->string('n_brankas_dorong')->nullable();
            $table->string('na_brankas_dorong')->nullable();
            $table->string('keterangan_remaks_brankas_dorong')->nullable();
            $table->string('y_wadah_stainless_20cm')->nullable();
            $table->string('n_wadah_stainless_20cm')->nullable();
            $table->string('na_wadah_stainless_20cm')->nullable();
            $table->string('keterangan_remaks_wadah_stainless_20cm')->nullable();
            $table->string('y_baskom_cuci_tangan_20cm')->nullable();
            $table->string('n_baskom_cuci_tangan_20cm')->nullable();
            $table->string('na_baskom_cuci_tangan_20cm')->nullable();
            $table->string('keterangan_remaks_baskom_cuci_tangan_20cm')->nullable();
            $table->string('y_pisau_bedah')->nullable();
            $table->string('n_pisau_bedah')->nullable();
            $table->string('na_pisau_bedah')->nullable();
            $table->string('keterangan_remaks_pisau_bedah')->nullable();
            $table->string('y_gunting_bedah')->nullable();
            $table->string('n_gunting_bedah')->nullable();
            $table->string('na_gunting_bedah')->nullable();
            $table->string('keterangan_remaks_gunting_bedah')->nullable();
            $table->string('y_penjepit_tekan')->nullable();
            $table->string('n_penjepit_tekan')->nullable();
            $table->string('na_penjepit_tekan')->nullable();
            $table->string('keterangan_remaks_penjepit_tekan')->nullable();
            $table->string('y_penjepit_jaringan')->nullable();
            $table->string('n_penjepit_jaringan')->nullable();
            $table->string('na_penjepit_jaringan')->nullable();
            $table->string('keterangan_remaks_penjepit_jaringan')->nullable();
            $table->string('y_pemegang_jarum_jakit')->nullable();
            $table->string('n_pemegang_jarum_jakit')->nullable();
            $table->string('na_pemegang_jarum_jakit')->nullable();
            $table->string('keterangan_remaks_pemegang_jarum_jakit')->nullable();
            $table->string('y_jarum_jahit_otot_stgh_lingkaran')->nullable();
            $table->string('n_jarum_jahit_otot_stgh_lingkaran')->nullable();
            $table->string('na_jarum_jahit_otot_stgh_lingkaran')->nullable();
            $table->string('keterangan_remaks_jarum_jahit_otot_stgh_lingkaran')->nullable();
            $table->string('y_jarum_jahit_kulit_stgh_lingkaran')->nullable();
            $table->string('n_jarum_jahit_kulit_stgh_lingkaran')->nullable();
            $table->string('na_jarum_jahit_kulit_stgh_lingkaran')->nullable();
            $table->string('keterangan_remaks_jarum_jahit_kulit_stgh_lingkaran')->nullable();
            $table->string('y_jarum_suntik_1ml')->nullable();
            $table->string('n_jarum_suntik_1ml')->nullable();
            $table->string('na_jarum_suntik_1ml')->nullable();
            $table->string('keterangan_remaks_jarum_suntik_1ml')->nullable();
            $table->string('y_jarum_suntik_3ml')->nullable();
            $table->string('n_jarum_suntik_3ml')->nullable();
            $table->string('na_jarum_suntik_3ml')->nullable();
            $table->string('keterangan_remaks_jarum_suntik_3ml')->nullable();
            $table->string('y_jarum_suntik_5ml')->nullable();
            $table->string('n_jarum_suntik_5ml')->nullable();
            $table->string('na_jarum_suntik_5ml')->nullable();
            $table->string('keterangan_remaks_jarum_suntik_5ml')->nullable();
            $table->string('y_Kapas')->nullable();
            $table->string('n_Kapas')->nullable();
            $table->string('na_Kapas')->nullable();
            $table->string('keterangan_remaks_Kapas')->nullable();
            $table->string('y_verban')->nullable();
            $table->string('n_verban')->nullable();
            $table->string('na_verban')->nullable();
            $table->string('keterangan_remaks_verban')->nullable();
            $table->string('y_kasa_steril')->nullable();
            $table->string('n_kasa_steril')->nullable();
            $table->string('na_kasa_steril')->nullable();
            $table->string('keterangan_remaks_kasa_steril')->nullable();
            $table->string('y_alkohol_70_persen')->nullable();
            $table->string('n_alkohol_70_persen')->nullable();
            $table->string('na_alkohol_70_persen')->nullable();
            $table->string('keterangan_remaks_alkohol_70_persen')->nullable();
            $table->string('y_larutan_petroksida_3_persen')->nullable();
            $table->string('n_larutan_petroksida_3_persen')->nullable();
            $table->string('na_larutan_petroksida_3_persen')->nullable();
            $table->string('keterangan_remaks_larutan_petroksida_3_persen')->nullable();
            $table->string('y_oidine_povidon_10_persen')->nullable();
            $table->string('n_oidine_povidon_10_persen')->nullable();
            $table->string('na_oidine_povidon_10_persen')->nullable();
            $table->string('keterangan_remaks_oidine_povidon_10_persen')->nullable();
            $table->string('y_selang_saluran_kemih')->nullable();
            $table->string('n_selang_saluran_kemih')->nullable();
            $table->string('na_selang_saluran_kemih')->nullable();
            $table->string('keterangan_remaks_selang_saluran_kemih')->nullable();
            $table->string('y_sarung_tangan_karetSteril')->nullable();
            $table->string('n_sarung_tangan_karetSteril')->nullable();
            $table->string('na_sarung_tangan_karetSteril')->nullable();
            $table->string('keterangan_remaks_sarung_tangan_karetSteril')->nullable();
            $table->string('y_kotak_obat_p3k')->nullable();
            $table->string('n_kotak_obat_p3k')->nullable();
            $table->string('na_kotak_obat_p3k')->nullable();
            $table->string('keterangan_remaks_kotak_obat_p3k')->nullable();
            $table->string('y_chloramfenicol_tetes_mata')->nullable();
            $table->string('n_chloramfenicol_tetes_mata')->nullable();
            $table->string('na_chloramfenicol_tetes_mata')->nullable();
            $table->string('keterangan_remaks_chloramfenicol_tetes_mata')->nullable();
            $table->string('y_pantocaine_tetes_mata')->nullable();
            $table->string('n_pantocaine_tetes_mata')->nullable();
            $table->string('na_pantocaine_tetes_mata')->nullable();
            $table->string('keterangan_remaks_pantocaine_tetes_mata')->nullable();
            $table->string('y_betadine_salep_kulit')->nullable();
            $table->string('n_betadine_salep_kulit')->nullable();
            $table->string('na_betadine_salep_kulit')->nullable();
            $table->string('keterangan_remaks_betadine_salep_kulit')->nullable();
            $table->string('y_chloramfenicol_tetes_telinga')->nullable();
            $table->string('n_chloramfenicol_tetes_telinga')->nullable();
            $table->string('na_chloramfenicol_tetes_telinga')->nullable();
            $table->string('keterangan_remaks_chloramfenicol_tetes_telinga')->nullable();
            $table->string('y_lidocaine_injeksi')->nullable();
            $table->string('n_lidocaine_injeksi')->nullable();
            $table->string('na_lidocaine_injeksi')->nullable();
            $table->string('keterangan_remaks_lidocaine_injeksi')->nullable();
            $table->string('y_minyak_kayu_putih')->nullable();
            $table->string('n_minyak_kayu_putih')->nullable();
            $table->string('na_minyak_kayu_putih')->nullable();
            $table->string('keterangan_remaks_minyak_kayu_putih')->nullable();
            $table->string('y_balsem')->nullable();
            $table->string('n_balsem')->nullable();
            $table->string('na_balsem')->nullable();
            $table->string('keterangan_remaks_balsem')->nullable();
            $table->string('y_paracetamol_tablet_500mg')->nullable();
            $table->string('n_paracetamol_tablet_500mg')->nullable();
            $table->string('na_paracetamol_tablet_500mg')->nullable();
            $table->string('keterangan_remaks_paracetamol_tablet_500mg')->nullable();
            $table->string('y_metampiron_antalgin_500mg')->nullable();
            $table->string('n_metampiron_antalgin_500mg')->nullable();
            $table->string('na_metampiron_antalgin_500mg')->nullable();
            $table->string('keterangan_remaks_metampiron_antalgin_500mg')->nullable();
            $table->string('y_obat_anti_mabok_laut')->nullable();
            $table->string('n_obat_anti_mabok_laut')->nullable();
            $table->string('na_obat_anti_mabok_laut')->nullable();
            $table->string('keterangan_remaks_obat_anti_mabok_laut')->nullable();
            $table->string('y_ctm_obat_anti_alergi')->nullable();
            $table->string('n_ctm_obat_anti_alergi')->nullable();
            $table->string('na_ctm_obat_anti_alergi')->nullable();
            $table->string('keterangan_remaks_ctm_obat_anti_alergi')->nullable();
            $table->string('y_tandu')->nullable();
            $table->string('n_tandu')->nullable();
            $table->string('na_tandu')->nullable();
            $table->string('keterangan_remaks_tandu')->nullable();
            $table->string('data_yang_tidak_sesuai_form5')->nullable();
            $table->string('foto_sekoci_1')->nullable();
            $table->string('foto_sekoci_2')->nullable();
            $table->string('foto_rescue_boat')->nullable();
            $table->string('foto_liferaft')->nullable();
            $table->string('foto_lifebouy')->nullable();
            $table->string('foto_lifejacket')->nullable();
            $table->string('foto_immersion_suits')->nullable();
            $table->string('foto_radar_transponder')->nullable();
            $table->string('foto_two_way_vhf')->nullable();
            $table->string('foto_pedoman_magnet')->nullable();
            $table->string('foto_pedoman_magnet_cadangan')->nullable();
            $table->string('foto_gyro_compas')->nullable();
            $table->string('foto_ecois')->nullable();
            $table->string('foto_publikasi_nautika')->nullable();
            $table->string('foto_radar_1')->nullable();
            $table->string('foto_radar_2')->nullable();
            $table->string('foto_arpa')->nullable();
            $table->string('foto_ais')->nullable();
            $table->string('foto_lrit')->nullable();
            $table->string('foto_s_vdr')->nullable();
            $table->string('foto_echosounder')->nullable();
            $table->string('foto_rudder_indicator')->nullable();
            $table->string('foto_emergency_telephone')->nullable();
            $table->string('foto_international_code')->nullable();
            $table->string('foto_iamsar_manual')->nullable();
            $table->string('foto_aldis')->nullable();
            $table->string('foto_radar_reflector')->nullable();
            $table->string('nama_kapal_form_rekomendasi')->nullable();
            $table->string('tanda_panggilann_form_rekomendasi')->nullable();
            $table->string('isi_kotor_form_rekomendasi')->nullable();
            $table->string('thn_pembuatan_form_rekomendasi')->nullable();
            $table->string('tipe_kapal')->nullable();
            $table->string('pelabuhan_pendaftaran')->nullable();
            $table->string('pemilik_kapal')->nullable();
            $table->string('jenis_pemeriksaan')->nullable();
            $table->string('rekomendasi')->nullable();
            $table->string('tindak_lanjutt')->nullable();
            $table->string('hasil_pemeriksaan_diterima')->nullable();
            $table->string('hasil_pemeriksaan_ditolak')->nullable();
            $table->string('status_sertifikat1')->nullable();
            $table->string('status_sertifikat2')->nullable();
            $table->string('tempat_pemeriksaan')->nullable();
            $table->string('tanggal_pemeriksaan')->nullable();
            $table->string('nama_pemeriksa_form_pemeriksaan')->nullable();
            $table->string('nip_pemeriksa_rekomendasi')->nullable();
            $table->string('ttd_pengesahan_pemeriksa')->nullable();
            $table->string('nama_nahkoda')->nullable();
            $table->string('ttd_pengesahan_nahkoda')->nullable();
            $table->timestamps();
        });
    }

    /**
     * Reverse the migrations.
     *
     * @return void
     */
    public function down()
    {
        Schema::dropIfExists('perlengkapan');
    }
}
